html {
    box-sizing: border-box;
    font-size: 62.5%; /** reset para reams **/
}
* ,*::before, *::after{
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/*Global*/
img{
    max-width: 100%;
}
.content{
    max-width: 120rem;
    /* centrar */
    margin:0 auto;
}
.seccion{
    margin-top: 2rem;
    margin-bottom:2rem;
}
h1{
font-size: 3.8rem;
}
h2{
font-size: 3.4rem;
}
h3{
font-size: 3rem;
}
h4{
font-size: 2.6rem;
}
h3,h4,h2{
    -webkit-text-stroke: 5% green;
    color: white;
    text-shadow:
        2px 2px 0 black,
        -1px -1px 0 black,  
        1px -1px 0 green,
        -1px 1px 0 green,
        1px 1px 0 green;
}
/*utilidades */
.fw-300{
    font-weight: 300;
}
.center-text{
    text-align: center;
}
/* Botones */
.d_display {
    display: block!important;
}
.boton{
color: white;
font-weight: 700;
text-decoration: none;
font-size: 1.8rem;
padding: 1rem 3rem;
margin-top: 3rem;
text-transform: uppercase;
display: inline-block;
text-align: center;
}

.boton-ver{
background-color: green;

}
.boton-nar{
background-color: orange;
}
/*header*/
.site-header.init{
    background: url(../imagen/header1.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.content-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-header h1 {
    color: green;
    padding-bottom: 3rem;
    line-height: 1.8;
}
.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
/* */
.encabezado{
    color:#3B6F2E;
}
/*busqueda*/
.busqueda a{
color: green;
text-decoration: none;
font-size: 1.8rem; /* 18 px*/
margin-right:2rem ;
}
/*Seudo selector*/
.busqueda a:last-of-type{
    margin: 0;
}
/*iconos de informacion*/

.posd{
display: flex;
justify-content: space-between;
}
.iconos{
flex-basis: calc(33.3% - 1rem);
text-align: center;
}

.posd h3{
    text-transform: uppercase;
}
.iconos img {
    height: 40%;
}
/* iconos publicidad*/
.content-Anunc{
    display: flex;
    justify-content: space-between;
}
.contenido_anun h3{
    color:#3B6F2E;
}
.content-Anunc img{
    width: 100%;
    height: 40%;
}
.icono-info{
   
    padding: 0;
}
.icono-info img {
    width:50%;
    height:50%;
}
.icono-info ul {
    list-style:none;
    flex: 1;
    display: flex;
}
.icono-info ul img {
    margin-right: 2rem;
}
.anun{
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #a5f08c;
}
.contenido_anun{
    padding: 4rem 2rem;
}
.contenido_anun h3 , p {
    margin: 0;
}
.precio{
    color: green;
    font-weight: 700;
}
.ver_td{
    display: flex;
    justify-content: center;
}
/*Contactos Nosotros*/
.imagen-contacto {
    background-image: url(../imagen/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display:flex;
    align-items: center;
    
}
.contactos {
flex: 1;
color:white;
}
.contactos p {
    font-size: 1.8rem;
}
/**Seccion Inferior*/
.seccion-inferior{
    display: flex;
    justify-content: space-between;
}
.seccion-inferior .seccion-blog{
    flex-basis:calc(40%-2rem);
}
.entrada-blog{
    display: flex;
    justify-content: space-between;
    flex-basis: calc();
}
.entrada-blog img {
    flex-basis: calc(60%-3rem);
    flex-basis: 40%;
}
.entrada-blog .texto-entrada{
    flex-basis: calc(60%-3rem);
    color:#25A505;
}
.texto-entrada a{
    color: black;
    text-decoration: none;
}
.texto-entrada h4{
    margin: 0;
    line-height:1.8;
}
.texto-entrada span{
    color: black;
}
.entrada-blog:last-of-type{
    margin-bottom: 0;
}

/*Pseudoelemeto*/
.texto-entrada h4::after{
    content: '';
    display:block;
    width: 20 rem;
    height: .5rem;
    background-color: green;
    margin-top: .5rem;
}
/*comentariso o testimonios*/
.testimonio {
    background: #BFF;
    background: linear-gradient(top, #40C71E(133, 71%, 51%) 5%, #DFF 100%);
    background: -webkit-linear-gradient(top, #FFF 1%, #40C71E 100%);
    background: -moz-linear-gradient(top, #40C71E 5%, #40C71E 100%);
    background: -ms-linear-gradient(top, #40C71E 5%, #40C71E 100%);
    background: -o-linear-gradient(top, #40C71E 5%, #40C71E 100%);
    border-radius:5rem;
}

.forma {
    width: 350px;
    bottom: 10 rem; 
    border-radius: 0%;
}
.testimonio p {
text-align: right;
}
/*footer*/
.siste-footer{
    background-color: #b5b5b5;
}
.content-footer{
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copy{
    margin:0;
}